body {
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    font-size: 25px;
    background-color: black;
}

p {
    color: blue;
}

#menu {
    padding: 15px 25px 25px;
}

#menu a {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}

#menu a:hover {
    background-color: antiquewhite;
    color: black;
    transition: 0.7s;
}

#title {
    margin: 0px;
    text-align: center;
}


#img-div {
    padding-top: 25px;
    min-height: 600px;
    background-color: black;
}

#image {
    width: 100%;
    object-fit: cover;
    object-position: 100% 0;
    min-height: 500px;
}

#image-caption {
    font-size: large;
    color: antiquewhite;
}


/* responsive web design */