body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

header {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    font-size: 25px;
}

p {
    color: blue;
}

#menu a {
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 3px;
}

#menu a:hover {
    background-color: antiquewhite;
    color: black;
    transition: 0.7s;
}

#image-caption {
    font-size: large;
    color: antiquewhite;
}

/* responsive web design */